.main{
    margin: 0 30px;
    width: 80%;
}


.add_section{
    padding-bottom: 14px;
    border-bottom: 2px solid antiquewhite;;
}

.add_section input{
    border-color: transparent;
}
.add_section input:focus{
    outline: none;
}

.compose_section{
    display: flex;
    flex-direction: column;
}
.compose_section input{
    border-color: transparent;
    margin: 14px 0;
    border-bottom-color: antiquewhite;
    padding-bottom: 8px;
}

.compose_section input:focus{
    outline: none;
}
.send_button{
    margin-top: 22px;
    padding: 5px 12px;
    background: pink;
    border: 1px solid pink;
    border-radius: 9px;
}